.header {
  grid-area: header;
}

.article {
  grid-area: article;
}

.section {
  grid-area: section;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

@media (max-width: 414px) {
  .grid-container {
    display: grid;
    height: 97vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
    grid-template-areas:
      'header'
      'article'
      'article'
      'article'
      'section'
      'section'
      'aside'
      'footer';
  }
}

@media (min-width: 415px) and (max-width: 1023px) {
  .grid-container {
    display: grid;
    height: 97vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 3fr 1fr;
    gap: 10px;
    grid-template-areas:
      'header header'
      'article aside'
      'section section'
      'footer footer';
  }
}

@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    height: 97vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr 3fr 1fr;
    gap: 10px;
    grid-template-areas:
      'header header'
      'aside article'
      'section section'
      'footer footer';
  }
}