:root {
  --darkviolet: #9400d3;
  --maroon: #800000;
  --darkgolden: #8f6805;
}

.box {
  padding: 10px;
  color: var(--white);
}

.main {
  margin-top: 80px;
}

.static {
  position: static;
  background-color: var(--darkviolet);
  width: 300px;
  height: 400px;
}

.relative {
  position: relative;
  top: -400px;
  left: 310px;
  background-color: var(--purple);
  width: 300px;
  height: 400px;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--maroon);
  width: 100%;
  height: 70px;
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--darkgolden);
  width: 100%;
  height: 70px;
}
